body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

hr{

margin-top:20px;
margin-bottom:20px;
/*
border:0;
*/
/*
border-top:1px solid #eee
*/

}

input[type=checkbox] {

 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  padding: 10px;
}

label {
    font: 30px;
}

#legend {

	float:left;
	width:15%;
	margin-left: 0.5%;
  
  background-color: #eeeeee;


}

#options {
	margin-left: 0.5%;
	margin-right: 0.5%;
}

#cyTotal {
  height: 530px;
  width:53%;
  border:1px solid;
  
/*
  background-color: #eeeeee;
*/
  
  float:left;
  margin-left: 0.5%;

}

#cy {
  height: 530px;

}

#reactionDiv {
  padding-left: 0.5%;
  margin-right: 0.5%;
  width: 30%;
/*
  border: 1px solid;
*/

/*
	background-color: #eeeeee;
*/
  float:right;
}



.info{

/*
  border: 1px solid;
*/

	background-color: #eeeeee;
	margin-top: 0.5cm;
	margin-left: 0.5%;
	width:32.6%;
	float:left;

}

#toggle-view {
	word-wrap: break-word;
    list-style:none;    
    font-family:arial;
    font-size:13px;
    margin:0;
    padding:0;
/*
    width:300px;
*/
}
    #toggle-view li.bar {
        margin:10px;
/*
        border-bottom:1px solid #ccc;
*/
        position:relative;
        cursor:pointer;
    }
    
    #toggle-view h3 {
        margin:0;
        font-size:14px;
    }
    #toggle-view span {
        position:absolute;
        right:5px; top:0;
/*
        color:#ccc;
*/
        font-size:13px;
    }
    
    #toggle-view .panel {
        margin:5px 0;
/*
        display:none;
*/
    }    





.footer {
	text-align: center;
	padding: 10px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.hero-unit {
margin-left: 0.5%;
margin-right: 0.5%;


  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}


