body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 500px;
  width: 500px;
  border: 2px solid;

}

#reactionDiv {
/*
  height: 500px;
  width: 800px;
*/
  width: 30%;
  border: 2px solid;

}



#toggle-view {
	word-wrap: break-word;
    list-style:none;    
    font-family:arial;
    font-size:13px;
    margin:0;
    padding:0;
/*
    width:300px;
*/
}
    #toggle-view li.bar {
        margin:10px;
        border-bottom:1px solid #ccc;
        position:relative;
        cursor:pointer;
    }
    
    #toggle-view h3 {
        margin:0;
        font-size:14px;
    }
    #toggle-view span {
        position:absolute;
        right:5px; top:0;
/*
        color:#ccc;
*/
        font-size:13px;
    }
    
    #toggle-view .panel {
        margin:5px 0;
/*
        display:none;
*/
    }    
